<!DOCTYPE html>

<html>
   
   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
   <link rel="stylesheet" href="application.css">
    <%= render "layouts/navbar" %>
    <%= yield %>
    

   <div class="w3-panel w3-round w3-black"><h1> <%= image_tag('garden.png',size: "200x200") %> Quandary Peak Trail  </h1></div>
   
   <p>Length :5h 25min avg </p>
   
   <p>Description : hike with steep elevation climbs and windy/snowy conditions but nonetheless beautiful and rewarding </p>
   
   <iframe width="500" height="500" frameborder="10" style="border:1"
 		src="https://www.google.com/maps/embed/v1/place?			key=AIzaSyCQKmB2OXd33wOaKQtWTvgEXTTqx-G9eiM&q=Quandary Peak Trailhead, Mc Cullough Gulch Rd, Breckenridge, CO 80424"
 		allowfullscreen>
	</iframe>
  			 
</html>



