<!DOCTYPE html>

<html>
   
   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
   <link rel="stylesheet" href="application.css">
    <%= render "layouts/navbar" %>
    <%= yield %>
    

   <div class="w3-panel w3-round w3-black"><h1> <%= image_tag('garden.png',size: "200x200") %> St Mary's Glacier Trailhead  </h1></div>
   
   <p>Length :1 h 46min avg </p>
   
   <p>Description : Offering magnificent views of the glacier </p>
   
   <iframe width="500" height="500" frameborder="10" style="border:1"
 		src="https://www.google.com/maps/embed/v1/place?			key=AIzaSyCQKmB2OXd33wOaKQtWTvgEXTTqx-G9eiM&q=St Mary's Glacier Trailhead, St Marys Dr"
 		allowfullscreen>
	</iframe>
  			 
</html>



